# dependencias
/node_modules

# build de Next.js
/.next/
/out/
/build

# variables de entorno (¡NUNCA subir llaves!)
.env
.env.local
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# logs y varios
npm-debug.log*
*.pem
.DS_Store